.loader {
    position: relative;    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.741);
    transition: opacity .5s, visibility .4s;
    z-index: 10000;
}
.loader-gif {
    position:relative;
    width: 600px; 
    height: 300px;
}
.striker {
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
    height: 300px;
}
.data-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 610px;
    height: 310px;
    border-radius: 40%;
    outline-style: solid;
    z-index: -1;
    opacity: .65;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}